    
 
body {
    background-color: #5DAE5D;
}




#main-container{
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;  
}

.navbar .container-fluid{
  max-width: 1800px;
  margin: 0px auto;
  background-color: #7fbf7f;
}

//ei toimi:
li * {
    color: #000000 !important;
}
