{% extends "base.html" %}
{% block content %}
  <h1>Kaikki hakemukset</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Hakijan nimi</th>
        <th>Kokemus</th>
        <th>Vapaa kuvaus</th>
        <th>Leirit, joille hakee</th>
      </tr>
    </thead>

    <tbody>
        {% for hakemus in hakemukset %}
      <tr>
        <td><a href="{{base_path}}/hakemus/{{hakemus.id}}">Hakijan nimi</a></td>
        <td>{{hakemus.kokemus}}</td>
        <td>{{hakemus.vapaaKuvaus}}</td>
        <td>Leirit, joille hakee</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}