{% extends "base.html" %}
{% block content %}
  <h1>Hakemus leirille töihin</h1>

  <form method = "post" action = "{{base_path}}" >
    <div class="radio">
      <label>
        <input type="radio" name="ohjaajako" id="joh" value="joh">
        Haen leirinjohtajaksi
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="ohjaajako" id="ohj" value="ohj">
        Haen leirinohjaajaksi
      </label>
    </div>
    <div class="radio disabled">
      <label>
        <input type="radio" disabled>
        Haen kokiksi (odota että sovellusta jatkokehitetään :D)
      </label>
    </div>
      
      
    <div class="form-group">
      <label>Nimi</label>
      <input class="form-control" name="nimi" type="text">
    </div>
    <div class="form-group">
      <label>Työkokemus</label>
      <input class="form-control" name="kokemus" type="text">
    </div>
    <div class="form-group">
      <label>Vapaa kuvaus itsestäsi</label>
      <textarea name="kuvaus" class="form-control"></textarea>
    </div>
      <div>
          Mille leireille haluaisit? (Merkitse kaikki sopivat)
      </div>
          
  <div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Alkukesän lastenleiri Saaressa 1.-6.6.
  </label>
  </div>
  <div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Loppukesän lastenleiri Saaressa 1.-6.8.
  </label>
  </div>
      <br>
      
     <div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Nuortenleiri Saaressa 1.-6.7.
  </label>
  </div>
   <div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Päiväleiri Helsingissä 1.-6.8.
  </label>
  </div>
      
      <br>
      
    <div class="form-group">
      <label>Kuinka monelle leirille haluaisit töihin kesän mittaan?</label>
      <input class="form-control" value="2" type="number">
    </div>
      
      
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}