{% extends "base.html" %}
{% block content %}
  <h1>Hakemus leirille töihin</h1>
  
  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method = "post" action = "{{base_path}}/hakemukset" >
    <div class="radio">
      <label>
        <input type="radio" name="ohjaajako" id="joh" value="joh">
        Haen leirinjohtajaksi
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="ohjaajako" id="ohj" value="ohj">
        Haen leirinohjaajaksi
      </label>
    </div>
    <div class="radio disabled">
      <label>
        <input type="radio" disabled>
        Haen kokiksi (odota että sovellusta jatkokehitetään :D)
      </label>
    </div>
      
      
    <div class="form-group">
      <label>Nimi</label>
      <input class="form-control" name="nimi" type="text">
    </div>
    <div class="form-group">
      <label>Työkokemus</label>
      <input class="form-control" name="kokemus" type="text" value="{{hakemus.kokemus}}">
    </div>
    <div class="form-group">
      <label>Vapaa kuvaus itsestäsi</label>
      <textarea name="vapaakuvaus" class="form-control"></textarea>
    </div>
      <div>
          Mille leireille haluaisit? (Merkitse kaikki sopivat)
      </div>
      
    {% for leiri in leirit %}
        <div class="checkbox">
            <label>
            <input type="checkbox" value="">
            <a href="{{base_path}}/leiri/{{leiri.id}}" target="_blank">{{leiri.leirinnimi}}</a><br>
            </label>
        </div>
    {% endfor %}

        
<!--
    <div class="form-group">
      <label>Kuinka monelle leirille haluaisit töihin kesän mittaan?</label>
      <input class="form-control" value="2" type="number">
    </div>
-->    
      
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}