{% extends "base.html" %}
{% block content %}
  <h1>Alkukesän lastenleiri Saaressa 1.-6.6.</h1>

  <ul>
    <li><strong>Leiri alkaa:</strong> 1.6.</li>
    <li><strong>Leiri loppuu:</strong> 6.6.</li>
    <li><strong>Leiriläisten ikä:</strong> 7-12</li>
    <li><strong>Leiripaikka:</strong> Saari</li>
    <li><strong>Leirinjohtajat:</strong> Minttupetteri ja Paavoliina</li>
  </ul>
  
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>

{% endblock %}
