{% extends "base.html" %}
{% block content %}
  <h1>Leiripaikka: {{paikka.paikannimi}}</h1>

  
  <ul>
    <li><strong>Leiripaikan sijainti:</strong> {{paikka.sijainti}}</li>
    <li><strong> <a href="http://{{paikka.nettisivu}}">Nettisivu</a></li> </strong>
    <li><strong>Ruokahuolto:</strong> {{paikka.kokki}}</li>
    <li><strong>Leiripaikan kuvaus:</strong> {{paikka.kuvaus}}</li>
    
  </ul>
  
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>

{% endblock %}

