{% extends "base.html" %}
{% block content %}
  <h1>Yhä staattinen leiripaikkasivu</h1>

  <ul>
    <li><strong>Leiripaikan sijainti</strong> Saari, Suomi, Eurooppa</li>
    <li><strong>Nettisivu</strong> <a href="http://wikipedia.org">Wikipediassa tietoa</a></li>
    <li><strong>Ruokahuolto:</strong> ei omaa kokkia</li>
    <li><strong>Leiripaikan kuvaus</strong> Hieno paikka. Sauna, merenranta, kanootteja, ankkalampi, katos</li>
    
  </ul>
  
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>

{% endblock %}

