{% extends "base.html" %}
{% block content %}
  <h1>{{leiri.leirinnimi}}</h1>

  <ul>
    <li><strong>Leiri alkaa:</strong> {{leiri.alkupv}}</li>
    <li><strong>Leiri loppuu:</strong> {{leiri.loppupv}}</li>
    <li><strong>Leiriläisten ikä:</strong>{{leiri.leirilaistenIka}}</li>
    <li><strong>Leiripaikka:</strong> {{leiri.leiripaikka}}</li>
    <li><strong>Leirinjohtajat:</strong> nimet tähän</li>
  </ul>
  <!-->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <-->

{% endblock %}
