{% extends "base.html" %}
{% block content %}
  <h1>Kaikki kesän leirit</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Aika</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><a href="#">Alkukesän lastenleiri Saaressa</a></td>
        <td>1.-6.6.</td>
        <th><a class="btn btn-default btn-sm" href="#">Lisätiedot</a></th>
      </tr>
            <tr>
        <td><a href="#">Loppukesän lastenleiri Saaressa</a></td>
        <td>1.-6.8.</td>
        <th><a class="btn btn-default btn-sm" href="#">Lisätiedot</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}

